.ptext {
  scrollbar-width: thin;
  scrollbar-color: #ffb648 #1d1f24;
  overflow: auto;
  max-height: 430px;
}

.containerTopImg > * {
  display: flex;
  text-align: start;
  color: aliceblue;
  align-items: center;
  gap: 5px;
  font-size: 25px;
  font-family: cursive;
}

.containerTopImg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.containerTopImg > label {
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(255, 182, 72);
}

.conainetLeftTopImg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main {
  display: flex;
  justify-content: center;
}

.containerLim {
}

.nestedCont {
  display: flex;
}

.contInfoRight {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
  font-family: cursive;
  color: #ff7847;
}

.imgHeroesURL {
  width: 325px;
  height: 450px;
  margin-top: 10px;
  border-radius: 10px;
}

.conteinerInfoLeft {
  padding: 0 0 0 15px;
  color: #ffb648;
  font-family: cursive;
}

.spanHero {
  font-size: 25px;
  color: #ff7847;
}

.canvas {
  height: 300px;
  width: 100%;
}

.rightInfo {
  border-left: solid 2px gray;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
  gap: 38px;
}

.h2Attr {
  font-family: cursive;
  text-align: center;
  color: #5c5c5c;
}

.blockLeftMainInfo {
  gap: 6px;
  display: flex;
  flex-direction: column;
  width: 470px;
  font-family: sans-serif;
  color: #ffb648;
}

.contSpan {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  padding: 0 12px;
}

.mainTwo {
  text-align: center;
}

.spanTitle {
  font-size: 30px;
  font-family: cursive;
}

.attrOne {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
}

.contBotInfo {
  display: flex;
  justify-content: space-around;
}
.contBotInfo > div {
  gap: 10px;
}

.attrHerosSpan {
  font-size: 25px;
  margin-bottom: 25px;
  color: #5c5c5c;
  font-family: cursive;
}

.Health {
  width: 420px;
  background-color: rgb(74, 231, 0);
  height: 32px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Manapul {
  width: 420px;
  height: 20px;
  text-align: center;
  border-radius: 0 0 12px 12px;
  background-color: rgb(52, 158, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeatManaContainer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.colapseContainer {
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.GrInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GrInfo > h3 {
  color: #ffb648;
  padding: 6px 0;
}

.pBottom {
  font-size: 10px;
  text-align: end;
  font-family: system-ui;
}



.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 50px;
  align-items: center;
}
.buttonContainer > span {
  border-left: solid 1px;
  border-right: solid 1px;
  padding: 15px;
  color: #ffb648;
  font-family: monospaceF;
  text-align: center;
}


/* Стиль для контейнера с кнопками */
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* Стиль для кнопок навигации */
.buttonNavigateBottom {
  background: none;
  border: none;
  font-size: 16px;
  color: #ffb648;
  cursor: pointer;
  position: relative;
  padding: 10px;
  transition: color 0.3s;
}

/* Стиль для линейки под кнопками при наведении */
.buttonNavigateBottom::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ffb648;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

/* Показываем линию при наведении */
.buttonNavigateBottom:hover::after {
  transform: scaleX(1);
}

@media (max-width: 1150px) {
  .rightInfo {
    border: none;
  }
}

@media (max-width: 500px) {
  .blockLeftMainInfo,
  .Health,
  .Manapul {
    width: 340px;
  }
  .contSpan,
  .attrOne {
    font-size: 14px;
    gap: 2px;
  }
  .containerTopImg > label {
    font-size: 14px;
  }
  .attrHerosSpan,
  .h2AttrF {
    font-size: 22px;
  }
.buttonContainer > * {
 font-size: 10px; 
}
}
@media (max-width: 450px) {
}
